/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 200px !important;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 200px;
  line-height: 100px; /* Vertically center the text there */
}

/**
        ARROW BOX
*/

.arrow_box {
    position: relative;
}
.arrow_box:after, .arrow_box:before {
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}


.arrow_box_bottom {
    border-bottom: 2px solid #cccccc;
}
.arrow_box_right {
    border-right: 2px solid #cccccc;
}
.arrow_box_top {
    border-top: 2px solid #cccccc; 
} 


.arrow_box_bottom:after, .arrow_box_bottom:before {
    top: 100%;
    left: 50%;
}
.arrow_box_right:after, .arrow_box_right:before {
    left: 100%;
    top: 50%;
}
.arrow_box_top:after, .arrow_box:before { 
    bottom: 100%; 
    left: 50%; 
} 


.arrow_box:after {
    border-width: 40px;
}
.arrow_box_bottom:after {
    border-top-color: #FFFFFF;
    margin-left: -40px;
}
.arrow_box_right:after {
    border-left-color: #FFFFFF;
    margin-top: -40px;
}
.arrow_box_top:after { 
    border-bottom-color: #FFFFFF; 
    margin-left: -40px;
} 


.arrow_box:before {
    border-width: 43px;
}
.arrow_box_bottom:before {
    border-top-color: #cccccc;
    margin-left: -43px;
}
.arrow_box_right:before {
    border-left-color: #cccccc;
    margin-top: -43px;
}
.arrow_box_top:before { 
    border-bottom-color: #cccccc; 
    margin-left: -43px;
}


.form-cover {
    padding: 40px;
}
@media (max-width: 767px){
    .form-cover {
        padding: 40px 10px 40px 10px;
    }
}

.label a {color: white;text-decoration: none}